<script src="js/ad_ajax.js"></script>
<div class="section main_section">
    <div class="row work_area">
        <div class="col col-1-5">
			<ul id="menu" style="list-style-type: none;padding-right: 0px; padding-left: 0px;">
				<li id="user_rights" onclick="getUserRightsTable();" style="cursor: pointer; text-decoration: underline; color: blue; margin-left: 10px;margin-right: 10px;">{LABEL="admin_menu_userR"}</li>
				<li id="question_create" onclick="createQuestion();" style="cursor: pointer; text-decoration: underline; color: blue; margin-left: 10px;margin-right: 10px;">{LABEL="admin_menu_createQ"}</li>
				<li id="test_create" onclick="createTest();" style="cursor: pointer; text-decoration: underline; color: blue; margin-left: 10px;margin-right: 10px;">{LABEL="admin_menu_createT"}</li>
			</ul>
        </div>
		

