<li><input class="test_answer" id='answer_{LD="a_id"}_question_{LD="qa_question_id"}' name='question_{LD="qa_question_id"}' {LD="input_type"} value='answer_{LD="a_id"}_question_{LD="qa_question_id"}'> {LD="a_text"}</li>