<tr class="questions_counter">
    <td style="text-align: right">
        <input type="checkbox" value="{LD="q_id"}" id="question_{LD="counter"}">
    </td>
    <td>
        <span>{LD="q_text"}</span>
    </td>
    <td>
        <img src="/php04_zimnitskaya/megatask/img/{LD="q_picture"}">
    </td>
</tr>