<li>
    {LD="num"}. {LD="q_text"}<img src="/php04_zimnitskaya/megatask/img/{LD="q_picture"}">
    <ul style="list-style-type: none; margin: 0;">
        {LI_LOOP={LD="q_id"}=answer_list="answer_list.tpl"}
    </ul>
</li>
