<div style="margin: 15px">
    <h2>Test - {TEST="t_name"}</h2>
    <h3>{TEST="category_name"}</h3>
    <ul style="list-style-type: none; margin: 0;">
        {LOOP=question_list="question_list.tpl"}
    </ul>
    <input class="button2" data-test-id="{TEST="t_id"}" style="margin-left: 50px; margin-top: 15px;" value="Submit" onclick="sendTestAnswers(this);">
</div>