<tr>
    <td>
        {LD="u_login"}
    </td>
    <td>
        {LD="u_name"}
    </td>
    <td>
        <select class="selects" data-user="{LD="u_login"}" name="{LD="cl_name"}"  onchange="changeFunc(this);">
            {LOOP=user_classes="user_class_option.tpl"}
        </select>
    </td>
    <td>
        <button class="urights_button" name="{LD="u_login"}">{LD="table_text_action"}</button>
    </td>
</tr>