<div class="col col-3-5 vertical_border">
    <div id="result_message" style="margin: 15px; color: darkgreen"></div>
    <div id="main_body">
        <div style="margin: 15px">Choose a test</div>
    </div>

</div>
<div class="col col-1-5">
    <div class="">

    </div>
</div>
<div style="clear:both;"></div>
</div>
</div>