/****************
       MAIN
*****************/
body {
    margin: 0;
    padding: 0;
    height: 90%;
    font-family: sans-serif;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
/******** GRID ********/

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
.row {
    display: block;
    width: 100%;
    border-bottom: 1px solid #BCBCBC;
}
.col {
    display: block;
    float:left;
    margin: 0;
}
.col-1-5 {
    width: 19.7%;
    border: 1px solid transparent;
}
.col-3-5 {
    width: 60%;
}
.col-3-4 {
    width: 75%;
}
.col-1-8 {
    width: 12.5%;
}

/*****GENERAL*****/
h1 {
    text-align: center;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 30px;
}

.main_section {
    height: 92%;
}
.work_area {
    height: 100%;
}
.vertical_border {
    border-right: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
    height: 100%;
}

img {
    width: 40px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.auth-string {
    text-align: right;
    margin: 6px;
    padding-right: 25px;
}
.information {
    margin-top: 10px;
    margin-left: 30px;
}
.input {
    height: 22px;
    outline:1px solid #939598;
    border: 0;
    width: 200px;
}
.button {
    background-color: #e7e7e7;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: 2px solid #d7d7d7;
    margin-top: 5px;
    height: 29px;
    width: 98px;
}
.checkbox {
    position:relative;
    padding-top:13px;
}
.checkbox input[type=checkbox] {
    display:none;

}
.checkbox label:after {
    content:'';
    display:block;
    height:17px;
    width:17px;
    outline:1px solid #939598;
    position:absolute;
    top:0;
    left:0;
}
.checkbox input[type=checkbox]:checked + label:after {
    outline:1px solid #939598;
    border:2px solid #fff;
    width:15px;
    height:15px;
    background-color:#d7d7d7;
}
.checkbox-file {
    position:relative;
    padding-left:24px;
}
.checkbox-file input[type=checkbox] {
    display:none;

}
.checkbox-file label:after {
    content:'';
    display:block;
    height:17px;
    width:17px;
    outline:1px solid #939598;
    position:absolute;
    top:0;
    left:0;
}
.checkbox-file input[type=checkbox]:checked + label:after {
    outline:1px solid #939598;
    border:2px solid #fff;
    width:15px;
    height:15px;
    background-color:#d7d7d7;
}
/********ALIGN**************/
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

/*****LOGIN FORM ******/
form {
    margin: 10px;
}
.table {
    display: table;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #BCBCBC;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    padding-bottom: 3px;
    padding-right: 5px;

}
.td_text {
    display: table-cell;
    padding-bottom: 3px;
    padding-right: 5px;
    text-align: right;
    width: 20%;
}

/****** FILE COMMANDER TABLE*****/
h3 {
    margin-left: 10px;
}
.table-file {
    display: table;
    width: 98%;
    margin: 10px;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    text-align: center;
}
.tbody {
    display: table-row-group;
}
.tr-file {
    display: table-row;
}
.th-file {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px dotted #BCBCBC;
}
.td-file {
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px dotted #BCBCBC;
    text-align: center;
}
.delete {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
/*********** URL INPUTS ************/
.input-url {
    height: 22px;
    width: 100%;
    margin-bottom: 15px;
}
.subsection-border {
    border: 0px solid #BCBCBC;
    margin: 10px;
}

.margin-space {
    margin-bottom: 10px;
}

.fileform {
    position: relative;
    margin: 0 10px;
 }

.fileform .selectbutton {
    background-color: #e7e7e7;
    border: 2px solid #d7d7d7;
    float: left;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    width: 112px;
    z-index: 10;
}

.fileform #userfile{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: -9999;
    height: 29px;
}

.upload_button {
    position: relative;
    float: right;
    margin-top: 0;
    height: 21px;
}
.download_button {
    position: relative;
    float: left;
    margin-top: 0;
    height: 21px;
}