    <b>{DB="title_for_stat"}:</b><br>
    {DB="text_users_quantity"}: {SV="users_quantity"} <br>
    {DB="text_files_quantity"}: {SV="files_quantity"}<br>
    {DB="text_volume"}: {SV="total_volume"} Mb<br>
    {DB="text_ratio"}: {SV="ratio"} Mb<br>
